*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'audiowide';
}

body{
    background-color: #ccc;
    font-size: 20px;
}

.cabecalho{
    display: inline-block;
}

.menu{
    display: inline-block;
    margin: auto;
}

.menu-lista{
    display: inline-block;
    margin: auto;
}

.lista{
    display: inline-block;
    color: blue;
    background-color: rgb(15, 238, 238);
    margin: auto;
}

.artigos1{
    display: inline-block;
    color: green;
    background-color: greenyellow;
    margin: 110px 20px 0 50px;
}

.artigos2{
    display: inline-block;
    color: rgb(238, 0, 0);
    background-color: rgb(252, 166, 166);
    margin: 300px 20px 0 50px;
}

.rodape{
    display: inline-block;
    color: white;
    background-color: rgb(56, 56, 56);
    position: absolute;
    bottom: 0;
    margin: 5px;
}